<a href="https://colab.research.google.com/github/madeline-evenson/Northwestern-CIERA-Python-Intro/blob/main/Copy_of_Section_2_Intro_to_Lists.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Section 2. Lists in Python
## 2.1 Types of Lists

Information can be stored in a variety of formats called data structures. Python has some built in data structures which include: lists, sets, tuples, and dictionaries. As the name of this data structure suggests, a list in Python is literally a list of stuff. What that stuff is depends on what you're trying to do. Essentially, lists can contain whatever you want (such as strings, floats, and integers), as long as the contents are valid data types in Python.

In order to create a list, we enclose a comma-separated list of items with square brackets. If you have a really long list, you can include a line break immediately following a comma, as shown below.



```
my_list_one = [2, 8, 4]                # list of numbers
my_list_two = ['cat', 'dog', 'llama']  # list of strings, must use 'string'
my_list_three = [True, False, False]   # list of Booleans

my_list_four = [3, 1, 8, 4, # A really
                1, 2, 7, 3, # really
                2, 2, 6, 9, # really
                6, 6, 4, 8, # really
                7, 6, 2, 1] # long list
```

In [ ]:
my_list_one = [2, 8, 4]                # list of numbers
my_list_two = ['cat', 'dog', 'llama']  # list of strings, must use 'string'
my_list_three = [True, False, False]   # list of Booleans

my_list_four = [3, 1, 8, 4, # A really
                1, 2, 7, 3, # really
                2, 2, 6, 9, # really
                6, 6, 4, 8, # really
                7, 6, 2, 1] # long list

Note that in the above four examples, we are storing each list in a variable (e.g., the list [2, 8, 4] is being stored to the variable my_list_one).

While in the examples above we have shown that you can store numbers (floats and integers) and strings, you can also ___store variables___ in lists. Those variables may contain a number, string, or even another list! In the below example, we're setting the variables right before putting them in the list, but in real applications, the variable values could be set by the result of some function or by user input.


```
example_variable_one = 48
example_variable_two = 12
example_variable_three = 10
my_list_five = [example_variable_one,
                example_variable_two,
                example_variable_three]   # list of predefined variables

print(my_list_five) # Note the outputs!
```

In [ ]:
example_variable_one = 48
example_variable_two = 12
example_variable_three = 10
my_list_five = [example_variable_one,
                example_variable_two,
                example_variable_three]   # list of predefined variables

print(my_list_five) # Note the outputs!

[48, 12, 10]

### 2.1.1 Checking the Length of Your List
It is often helpful to make sure your code looks the way you want it to. If you are working with lists, one way to do that is to make sure it contains the number of data points you need it to. For example, if you are storing the temperature of 5 stars for later use, you may want to check that the list is 5 elements long. Incorporating checks like this in your code can be very helpful for avoiding (and finding) bugs in your code.



```
my_list = [2, 8, 6, 4, 10]
list_length = len(my_list)  # returns the length, or number of items, in the list (5)
print(list_length)
```

In [ ]:
my_list = [2, 8, 6, 4, 10]
list_length = len(my_list)  # returns the length, or number of items, in the list (5)
print(list_length)

5

### 2.1.2 Sorting your list
It can be beneficial to order your list from smallest to largest, or vice versa. You can only sort a list if it contains data of the same kind (for instance all integers and floats, or a list of only strings).

__Note__: When sorting is done as it is shown below, the sorting is done "in place". This means that the list __itself__ is sorted, instead of a __sorted__ copy being made.

__For example:__



```
example_list = [17, 8, 29]
example_list.sort()  # The list "example_list" is now sorted
print(example_list)
```

The output of this list would now be a list with the following elements: [8, 17, 29].



```
my_list.sort()  # sorts the list from smallest to largest [2, 4, 6, 8, 10]
print(my_list)

my_list.sort(reverse=True)  # reverse-sorts the list [10, 8, 6, 4, 2]
print(my_list)
```

In [ ]:
example_list = [17, 8, 29]
example_list.sort()  # The list "example_list" is now sorted
print(example_list)

[8, 17, 29]

In [ ]:
my_list.sort()  # sorts the list from smallest to largest [2, 4, 6, 8, 10]
print(my_list)

my_list.sort(reverse=True)  # reverse-sorts the list [10, 8, 6, 4, 2]
print(my_list)

[2, 4, 6, 8, 10]
[10, 8, 6, 4, 2]

### 2.1.3 Your turn: Create a list!
__Tasks__: <br>
> - Create a list for numbers 1-10 (inclusive of both 1 and 10) <br>
> -Create a list of with your first, middle, and last name(s) <br>

Make these lists in the cell below.

In [ ]:
# your code below

numbers = [1, 10, 2, 9, 3, 8, 4, 7, 5, 6]
names = ['maddy', 'faith', 'evenson']

### Your turn: Sort your list!
__Tasks__:
> - sort your numbered list from __smallest to largest__
> - sort your numbered list from __largest to smallest__

In [ ]:
# your code below

numbers.sort()
print(numbers)
names.sort()
print(names)

numbers.sort(reverse=True)
print(numbers)
names.sort(reverse=True)
print(names)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
['evenson', 'faith', 'maddy']
[10, 9, 8, 7, 6, 5, 4, 3, 2, 1]
['maddy', 'faith', 'evenson']

## 2.2 Slicing Lists in Python

Sometimes (or oftentimes), when working with lists, it is useful to select one or more entries from the list. When we do this in Python, we call it slicing the list and we call the subset a "slice".

### 2.2.1 One at a Time

First, let's start with the simplest example. Let's say we want to access a specific entry in the list. We call the position of an entry of a list its "index". We can access an entry by putting its index in square brackets next to the list's name like shown below.


Note: Counting in Python (and in a lot of programming languages in general), we count starting from 0 instead of 1. The first entry is entry "0", the second entry is "1", and so on.


```
dist_list = [0.4, 0.7, 1.0, 1.5,    # distance of planets from the sun
             5.2, 9.5, 19.2, 30.1]  # in units of Earth's distance ("au")

print('The distance of Mercury is', str(dist_list[0]), 'au')

print('The distance of Jupiter is', str(dist_list[4]), 'au')
```

In [ ]:
dist_list = [0.4, 0.7, 1.0, 1.5,    # distance of planets from the sun
             5.2, 9.5, 19.2, 30.1]  # in units of Earth's distance ("au")

print('The distance of Mercury is', str(dist_list[0]), 'au')

print('The distance of Jupiter is', str(dist_list[4]), 'au')

The distance of Mercury is 0.4 au
The distance of Jupiter is 5.2 au

We can also count backwards in lists. We instead use negative numbers instead of positive numbers. The last entry on a list is assigned "-1".

```
print('The distance of the furthest planet is',dist_list[-1],'au')

print('The distance of the second furthest planet is',dist_list[-2],'au')
```

In [ ]:
print('The distance of the furthest planet is',dist_list[-1],'au')

print('The distance of the second furthest planet is',dist_list[-2],'au')

The distance of the furthest planet is 30.1 au
The distance of the second furthest planet is 19.2 au

Keep in mind that you cannot access an index that does not exist. See what happens when you run the two lines of code in the cell below. Run them one at a time!

```
print(dist_list[10])

print(dist_list[-9])
```

### 2.2.2 Slicing a Set of Entries - Starting, Stopping, Stepping

So far, you've only accessed one item from a list but in a lot of cases you will want more than one value. When you take a slice of a list, __you have three options__ you can control:

> - The start index
> - The end or stop index (the first entry outside of your slice)
> - Lastly, a "step value", which controls how you want to step over the items included in your slice (one by one, every other, every third, etc.).

When slicing a list, it's formatted like `my_list[start:stop:step]`.

Let's go through each one individually. First, let's make a list with the names of all the planets in order.

In [ ]:
name_list = ['Mercury', 'Venus', 'Earth', 'Mars',
             'Jupiter', 'Saturn', 'Uranus', 'Neptune']

Now, let's practice slicing with this list below. Let's start by getting the whole list of planets except Mercury. In this case, we're excluding the 0th value and starting on the 1st.

```
print(name_list[1:])
print(name_list[1::])
print(name_list[-7:])
print(name_list[-7::])
```

In [ ]:
print(name_list[1:])
print(name_list[1::])
print(name_list[-7:])
print(name_list[-7::])

['Venus', 'Earth', 'Mars', 'Jupiter', 'Saturn', 'Uranus', 'Neptune']
['Venus', 'Earth', 'Mars', 'Jupiter', 'Saturn', 'Uranus', 'Neptune']
['Venus', 'Earth', 'Mars', 'Jupiter', 'Saturn', 'Uranus', 'Neptune']
['Venus', 'Earth', 'Mars', 'Jupiter', 'Saturn', 'Uranus', 'Neptune']

Notice that in the above example we only included a value for start. If the other values aren't filled in, "stop" defaults to the length of your list, and "step" defaults to 1, and each value from the rest of the list is sliced. Also notice that the first and second lines resulted in the same output. In otherwords, the step parameter and its associated colon are completely optional.

Next, notice that the third and fourth lines resulted in exactly the same list as the first and second. When working with lists, we can always count backwards from the last index instead of starting from 0.

Next, let's try to get all the planets except the last two. Remember that the value we specify for the end index is not included in our slice (e.g., Uranus is the 6th entry on the list, so the slice will end before Uranus).

```
print(name_list[:6])
print(name_list[:6:])
print(name_list[:-2])
print(name_list[:-2:])
```

In [ ]:
print(name_list[:6])
print(name_list[:6:])
print(name_list[:-2])
print(name_list[:-2:])

['Mercury', 'Venus', 'Earth', 'Mars', 'Jupiter', 'Saturn']
['Mercury', 'Venus', 'Earth', 'Mars', 'Jupiter', 'Saturn']
['Mercury', 'Venus', 'Earth', 'Mars', 'Jupiter', 'Saturn']
['Mercury', 'Venus', 'Earth', 'Mars', 'Jupiter', 'Saturn']

Now, we can see that if we don't specify start, the default is start=0. Again, we see that it doesn't matter whether or not we include the second colon and it also doesn't matter whether we use an entry's positive or negative index.

In practice, it's often simpler to specify start with the positive index and stop with either the positive or the negative index depending on how long the list is.

Next, we can combine these two. In the following example, let's get a list with the planets next to the asteroid belt. The first one is mars, at index 3, and the second is Jupiter, at index 4. In that case, we want to stop **before** Saturn, at index 5 or -3.

```
print(name_list[3:5])
print(name_list[3:-3:])
```

In [ ]:
print(name_list[3:5])
print(name_list[3:-3:])

['Mars', 'Jupiter']
['Mars', 'Jupiter']

Now it's your turn! In the cell below, try to get the following lists from name_list by changing the values of start and stop:

>- all the inner planets (Mercury to Mars)
>- all the outer planets (Jupiter to Neptune)

In [ ]:
# Uncomment the lines below and change start and stop to the appropriate values
print(name_list[:4])
print(name_list[4:])

['Mercury', 'Venus', 'Earth', 'Mars']
['Jupiter', 'Saturn', 'Uranus', 'Neptune']

### 2.2.3 Changing the Step Size

Now, let's talk about the last argument, step. Basically, this argument allows us to take every nth value from a list.

In the first example below, we start from Mercury and take every second planet. In the second, we do the same, but starting from Venus instead. In the third, we start from Venus and end before the last planet, Neptune. In the fourth, we start from Venus and stop before the second to last planet, Uranus.

Notice that the third and fourth lines produce the same output. The reason why is basically that the planet after Saturn would have been skipped anyway.

```
print(name_list[::2])
print(name_list[1::2])
print(name_list[1:-1:2])
print(name_list[1:-2:2])
```

In [ ]:
print(name_list)
print(name_list[::2])
print(name_list[1::2])
print(name_list[1:-1:2])
print(name_list[1:-2:2])

['Mercury', 'Venus', 'Earth', 'Mars', 'Jupiter', 'Saturn', 'Uranus', 'Neptune']
['Mercury', 'Earth', 'Jupiter', 'Uranus']
['Venus', 'Mars', 'Saturn', 'Neptune']
['Venus', 'Mars', 'Saturn']
['Venus', 'Mars', 'Saturn']

But this isn't the only thing we can do with step. We can also use it to sort a list in reverse order. If we use a negative value, the behavior is the same, but the order is reversed, as you can see in the two examples below.

```
print(name_list[::-1])
print(name_list[::-2])
```

In [ ]:
print(name_list[::-1])
print(name_list[::-2])

['Neptune', 'Uranus', 'Saturn', 'Jupiter', 'Mars', 'Earth', 'Venus', 'Mercury']
['Neptune', 'Saturn', 'Mars', 'Venus']

Compare the second line in this example to the first line in the previous example. They do not contain the same values! Why? Well, when we specify a negative index, the list basically reverses order FIRST before doing anything else. As a result, we start counting from -1 and then go down to -len(my_list).

Run the examples below to see how to use a negative value for step.

```
print(name_list[1:6:-1])
print(name_list[5:0:-1])
print(name_list[-3:-8:-1])
```

In [ ]:
print(name_list)
print(name_list[1:6:-1])
print(name_list[5:0:-1])
print(name_list[-3:-8:-1])

['Mercury', 'Venus', 'Earth', 'Mars', 'Jupiter', 'Saturn', 'Uranus', 'Neptune']
[]
['Saturn', 'Jupiter', 'Mars', 'Earth', 'Venus']
['Saturn', 'Jupiter', 'Mars', 'Earth', 'Venus']

In the first line, we tried to get the planets from Venus to Saturn in reverse order, but it returned an empty list. The second and the third lines do this successfully.

Now it's your turn!

1. Get the outer planets again, but this time in reverse order.

```
print(name_list[start:stop])
```
2. Try to predict what the output of these two lines will be BEFORE you run them

```
print(name_list[2:4:2])
print(name_list[6::-2])
```

In [ ]:
print(name_list[-1:-5:-1])
print(name_list[8:3:-1])

['Neptune', 'Uranus', 'Saturn', 'Jupiter']
['Neptune', 'Uranus', 'Saturn', 'Jupiter']

In [ ]:
print(name_list[2:4:2])
print(name_list[6::-2])

['Earth']
['Uranus', 'Jupiter', 'Earth', 'Mercury']

## 2.3 Editing Lists

Note that all the methods described below change the list in place. In other words, using any one of these methods permanently changes the contents of the list.

### 2.3.1 Appending Items to the List
You can use the append method shown below to add items to your lists. The format (or "syntax") for using append is as follows:
```
your_list_here.append(element)
```
__Note:__ the element you could be appending could be a string, a number, or even a list. The appended item always goes at the end, after all the original values in the list.

Lets take a look at this method in action below!
```
empty_list = []
print(empty_list)

empty_list.append(3)
print(empty_list)

empty_list.append(6)
empty_list.append(9)
print(empty_list)
```

In [ ]:
empty_list = []
print(empty_list)

empty_list.append(3)
print(empty_list)

empty_list.append(6)
empty_list.append(9)
print(empty_list)

[]
[3]
[3, 6, 9]

### 2.3.2 Extending Lists

Let's say you have two lists that you want to combine together. You can do this using the extend method:
```
list1.extend(list2)
```
Let's see an example below
```
planets = ['mercury', 'venus', 'earth', 'mars']
outer_planets = ['jupiter', 'saturn', 'uranus', 'neptune']

planets.extend(outer_planets)
print(planets)
```

In [ ]:
planets = ['mercury', 'venus', 'earth', 'mars']
outer_planets = ['jupiter', 'saturn', 'uranus', 'neptune']

planets.extend(outer_planets)
print(planets)

['mercury', 'venus', 'earth', 'mars', 'jupiter', 'saturn', 'uranus', 'neptune']

In the cell below, you can see what happens if you use append instead. As you can see, the behavior is quite different!
```
planets = ['mercury', 'venus', 'earth', 'mars']
outer_planets = ['jupiter', 'saturn', 'uranus', 'neptune']

planets.append(outer_planets)
print(planets)
```

In [ ]:
planets = ['mercury', 'venus', 'earth', 'mars']
outer_planets = ['jupiter', 'saturn', 'uranus', 'neptune']

planets.append(outer_planets)
print(planets)

['mercury', 'venus', 'earth', 'mars', ['jupiter', 'saturn', 'uranus', 'neptune']]

### 2.3.3 Specifying the Index

Oftentimes, it is useful to *initialize* a list when we know how long the list is going to be and then fill it up with values afterwards for computer memory reasons. This can provide extremely substatial speed ups to your code.
```
init_list = [0, 0, 0, 0, 0]  # initialize a list with all 0's

# Change a couple of the values
init_list[0] = 4
init_list[3] = 10

print(init_list)  # the list is now different from before!
```

In [ ]:
init_list = [0, 0, 0, 0, 0]  # initialize a list with all 0's

# Change a couple of the values
init_list[0] = 4
init_list[3] = 10

print(init_list)  # the list is now different from before!

[4, 0, 0, 10, 0]

### 2.3.4 Multiplying Lists

Sometimes, it's nice to not have to write something out a bunch of times. This is especially true when we want to have a list with a bunch of the same values repeated. In the previous section, we initialized a list by writing out a bunch of 0's by hand. Clearly, there must be a better way to do this! Naturally, there is! It turns out by multiplying lists by an integer, we can repeat that list that many times! See what happens when you run the below examples:
```
init_list = 40*[0]
print(init_list)

other_list = 20*[1,2]
print(other_list)
```

In [ ]:
init_list = 40*[0]
print(init_list)

other_list = 20*[1,2]
print(other_list)

[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0]
[1, 2, 1, 2, 1, 2, 1, 2, 1, 2, 1, 2, 1, 2, 1, 2, 1, 2, 1, 2, 1, 2, 1, 2, 1, 2, 1, 2, 1, 2, 1, 2, 1, 2, 1, 2, 1, 2, 1, 2]

## 2.4 "for" Loops
### 2.4.1 Basics

Now that we have a good understanding of how to work with lists, let's look at one of their most powerful and common uses in Python. The structure of a `for` loop is as follows:
```
for thing in my_list:
    do something with thing # note the indent here

now do something else # this isn't indented so it's not in the loop
```
This code block performs some action for each entry in my_list. Keep in mind when you use a for loop with a list (known as iterating for the list), the order of the list is preserved.

Finally, notice the indentation. You MUST have the lines of code after the for statement indented for Python to recognize it as part of the for loop. Once you have a single line of code not indented, you're telling the Python interpreter that the for loop code is over. It will not advance to the unindented lines until it has finished iterating over the code in the for loop. The general practice in python is to use 4 spaces for each level of indentation.

Let's look at an example of a for loop using one of the lists from previous examples
```
for name in name_list:
    print('There is a planet named', name)
```

In [ ]:
for name in name_list:
    print(f'There is a planet named {name}.')

There is a planet named Mercury.
There is a planet named Venus.
There is a planet named Earth.
There is a planet named Mars.
There is a planet named Jupiter.
There is a planet named Saturn.
There is a planet named Uranus.
There is a planet named Neptune.

If the list contains numbers, we can also do mathematical operations.
```
for dist in dist_list:
    print(dist**3)
```

In [ ]:
for dist in dist_list:
    print(dist**3)

0.06400000000000002
0.3429999999999999
1.0
3.375
140.608
857.375
7077.887999999999
27270.901000000005

### 2.4.2 The range( ) Function

In the previous section, we mentioned that it is common to initialize a list and then fill it with values afterwards. We can do this systematically with for loops. One way we can do this is with the range() function.

Instead of a list, range() takes an integer and returns an iterable (a cousin of the list) that allows you to loop over integers. Before we repeat the previous example, let's see how this function behaves below.
```
print(range(10))

for i in range(10):
    print(i)
```

In [ ]:
print(range(10))

for i in range(10):
    print(i)

range(0, 10)
0
1
2
3
4
5
6
7
8
9

Notice that the inputs of the range function behave similarly to index slicing. The optional start argument defaults to 0. Then we iterate and stop *before* stop, just like in slicing. This is useful because the output of range can be used to directly access the elements of a list without any modification. If you wanted a list containing the numbers from 0 to 9, we could turn the range iterable into a list like so:
```
list(range(10))
```

In [ ]:
list(range(10))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

Now, we can redo the previous example using range()
```
# Create a list with the same length as dist_list, but with all zeros.
dist3_list = len(dist_list)*[0]
for i in range(len(dist_list)):
    dist3_list[i] = dist_list[i]**3

print(dist3_list)
```

In [ ]:
dist3_list = len(dist_list)*[0]

for i in range(len(dist_list)):
    dist3_list[i] = dist_list[i]**3

print(dist3_list)

[0.06400000000000002, 0.3429999999999999, 1.0, 3.375, 140.608, 857.375, 7077.887999999999, 27270.901000000005]

### 2.4.3 The zip( ) Function

When working with multiple lists, it can be useful to iterate over all of them simultaneously. In principle, we could accomplish the same thing with `range` above (how?), but we can use `zip` to improve the readability of the code. Since `zip` returns two iterables, the syntax for the for loop will reflect this. Let's try this with the lists we created previously, `name_list` and `dist_list`.

```
for name, dist in zip(name_list, dist_list):
    print(name, 'is', dist, 'AU from the Sun')
```

Notice in the above example I have one iterable for each list I put in the `zip` function. Try running this example yourself in the cell below.

Also, keep in mind that the example uses only two lists but you are by no means limited. The `zip` function can take any number of lists as inputs, as long as all of them have the same length. Try modifying the example to add one or two more lists.

In [ ]:
for name, dist in zip(name_list, dist_list):
    print(name, 'is', dist, 'AU from the Sun')

Mercury is 0.4 AU from the Sun
Venus is 0.7 AU from the Sun
Earth is 1.0 AU from the Sun
Mars is 1.5 AU from the Sun
Jupiter is 5.2 AU from the Sun
Saturn is 9.5 AU from the Sun
Uranus is 19.2 AU from the Sun
Neptune is 30.1 AU from the Sun

In [ ]:
for name in zip(name_list, dist_list):
    print(name, dist)

('Mercury', 0.4) 30.1
('Venus', 0.7) 30.1
('Earth', 1.0) 30.1
('Mars', 1.5) 30.1
('Jupiter', 5.2) 30.1
('Saturn', 9.5) 30.1
('Uranus', 19.2) 30.1
('Neptune', 30.1) 30.1

### 2.4.4 The enumerate( ) Function

Another useful function when working with for loops is the `enumerate()` function. This function takes a list of things and allows you to iterate over both those objects and their indices. Since this function returns two different iterables, the syntax for the for loop is similar to what we did with `zip()` above.
```
for i, name in enumerate(name_list):
    print(name, 'is the', i+1, 'planet from the Sun')
```

Notice in the print statement I used `i+1` instead of `i`. Why?

In [ ]:
for i, name in enumerate(name_list):
    print(name, 'is the', i+1, 'planet from the Sun')

Mercury is the 1 planet from the Sun
Venus is the 2 planet from the Sun
Earth is the 3 planet from the Sun
Mars is the 4 planet from the Sun
Jupiter is the 5 planet from the Sun
Saturn is the 6 planet from the Sun
Uranus is the 7 planet from the Sun
Neptune is the 8 planet from the Sun

We can also combine the functionality of `enumerate()` with `zip()`. In the below example, we take two lists (different x and y values) and we create a third list with z values given by the function $z=f(x,y)=x^2+y$.

```
xs = [0, 1, 3, 5, 6]
ys = [1, 3, 6, 7, 10]

zs = len(xs)*[0]

for i, (x, y) in enumerate(zip(xs, ys)):
    zs[i] = x*x + y
print(zs)
```

Notice that in the for loop statement I enclose `x, y` in parentheses. This is necessary because zip essentially combines all of its arguments into one list. If you remove the parentheses from the expression, the code will not run. Try this yourself.

In [ ]:
xs = [0, 1, 3, 5, 6]
ys = [1, 3, 6, 7, 10]

zs = len(xs)*[0]

for i, (x,y) in enumerate(zip(xs, ys)):
    zs[i] = x*x + y
print(zs)

[1, 4, 15, 32, 46]

### 2.4.5 Nested Loops

One final application that we'll discuss is the concept of nested loops. In the previous example, we took the x and y values as five different pairs of points to work with. What if instead we wanted to evaluate the same function for each combination of those different x and y values, in other words for the whole grid of points? Let's see this example below:

```
xs = [0, 1, 3, 5, 6]
ys = [1, 3, 6, 7, 10]

zs = len(xs)*[0]
for i in range(len(xs)):
    zs[i] = len(ys)*[0]

for i, x in enumerate(xs):
    for j, y in enumerate(ys):
        zs[i][j] = x*x + y

print(zs)
```

In this example, you can see an example of a nested for loop, basically just a loop within a loop. In this code, the Python interpreter looped through all the y values for one x value before moving onto the next.

In order to store the values, we had to make a nested list, or a list of lists. If you don't understand what's going on in the code, I wouldn't worry too much about it. In the next module, we'll see a much better way of accomplishing similar functionality.

In [ ]:
xs = [0, 1, 3, 5, 6]
ys = [1, 3, 6, 7, 10]

zs = len(xs)*[0]
for i in range(len(xs)):
    zs[i] = len(ys)*[0]

print(zs)

for i, x in enumerate(xs):
    for j, y in enumerate(ys):
        zs[i][j] = x*x + y

print(zs)

[[0, 0, 0, 0, 0], [0, 0, 0, 0, 0], [0, 0, 0, 0, 0], [0, 0, 0, 0, 0], [0, 0, 0, 0, 0]]
[[1, 3, 6, 7, 10], [2, 4, 7, 8, 11], [10, 12, 15, 16, 19], [26, 28, 31, 32, 35], [37, 39, 42, 43, 46]]

## 2.5 Practice Problem: Kepler's Third Law

Kepler's third law of planetary motion relates the distance of a planet from the Sun to its orbital period, or the time it takes to complete a full orbit:
$$T = 2\pi\sqrt{\frac{a^3}{G(M+m)}}$$

Here, G is Newton's gravitational constant, M is the mass of the Sun, m is the mass of the planet, and a is the semimajor axis of the planet, which is essentially just the distance. In practice, the masses of the planets are extremely small compared to the mass of the sun, so we can just assume $M+m\approx M$ and ignore the mass of the planet in the equation.

You have two tasks
>- Using the distance list, create a new list that contains the period of each planet in seconds
>- Calculate the conversion from seconds to years to create another list that contains the period of each planet in years
>- For each planet, print out the following sentence: "The period of [planet] in years is [period]"

For these tasks, you'll need a few things. You'll need to define variables G (in SI units) and Msun (in kilograms). You can look both of these up. You already have a list of the names of the planets above. You also have a list of the distances, but in units of au, so you'll need to also define a variable to convert from au to meters. If you wish, you can also define a new list with the planet masses in kilograms.

You'll also need the value of pi and the square root function. I've defined pi for you below. For the square root function, recall that $sqrt(x)=x^{0.5}$

In [ ]:
pi = 3.141592653589793
print(pi)
print(4**0.5)


print(name_list)
print(dist_list)

3.141592653589793
2.0
['Mercury', 'Venus', 'Earth', 'Mars', 'Jupiter', 'Saturn', 'Uranus', 'Neptune']
[0.4, 0.7, 1.0, 1.5, 5.2, 9.5, 19.2, 30.1]

In [ ]:
Msun = 1.989e30 #kg
G = 6.6743e-11
au_to_m = 1.496e11 #number of meters in an au
s_to_yr = 3.154e7 #seconds in year

mass_list = [0.330e24, 4.87e24, 5.97e24, 0.642e24, 1898e24, 568e24, 86.8e24, 102e24]

period_list_sec = len(mass_list)*[0]
period_list_yr = len(mass_list)*[0]
#print(period_list)

for i in range(len(mass_list)):
    mass = mass_list[i]
    dist = dist_list[i]
    period_list_sec[i] = (2 * pi * ((dist*au_to_m)**3 / (G * (Msun + mass)))**0.5)
    period_list_yr[i] = period_list_sec[i] / s_to_yr

print(period_list_sec)
print(period_list_yr)

for i in range(len(period_list_yr)):
    name = name_list[i]
    period = period_list_yr[i]
    print(f"The period of planet {name} is {period} years.")

[7982647.577712807, 18480066.66682776, 31554140.392643567, 57968735.06679225, 373985623.02277285, 923805218.4103478, 2654601724.6511335, 5210694520.405779]
[0.25309599168398245, 0.5859247516432391, 1.000448332043233, 1.837943407317446, 11.857502315243273, 29.289956195635632, 84.16619291855211, 165.20908435021494]
The period of planet Mercury is 0.25309599168398245 years.
The period of planet Venus is 0.5859247516432391 years.
The period of planet Earth is 1.000448332043233 years.
The period of planet Mars is 1.837943407317446 years.
The period of planet Jupiter is 11.857502315243273 years.
The period of planet Saturn is 29.289956195635632 years.
The period of planet Uranus is 84.16619291855211 years.
The period of planet Neptune is 165.20908435021494 years.

## 2.6 Practice Problem
Redo Practice Problem 2.5 using zip() and enumerate() instead of range().

In [ ]:
period_list_sec = len(mass_list)*[0]
period_list_yr = len(mass_list)*[0]
#print(period_list)

for i, mass in enumerate(mass_list):
    for i, dist in enumerate(dist_list):
        period_list_sec[i] = (2 * pi * ((dist*au_to_m)**3 / (G * (Msun + mass)))**0.5)
        period_list_yr[i] = period_list_sec[i] / s_to_yr

print(period_list_sec)
print(period_list_yr)

for i, period in enumerate(period_list_yr):
    name = name_list[i]
    print(f"The period of planet {name} is {period} years.")

[7982443.564507258, 18479615.460507408, 31553378.696995184, 57967258.10133221, 374154424.47926986, 923913425.0335155, 2654591581.877334, 5210694520.405779]
[0.2530895232881185, 0.5859104457992202, 1.0004241818958524, 1.8378965789896071, 11.862854295474632, 29.29338696999098, 84.16587133409429, 165.20908435021494]
The period of planet Mercury is 0.2530895232881185 years.
The period of planet Venus is 0.5859104457992202 years.
The period of planet Earth is 1.0004241818958524 years.
The period of planet Mars is 1.8378965789896071 years.
The period of planet Jupiter is 11.862854295474632 years.
The period of planet Saturn is 29.29338696999098 years.
The period of planet Uranus is 84.16587133409429 years.
The period of planet Neptune is 165.20908435021494 years.